[data-section-buttons]
  font-weight normal
  .content-wrapper
    button
    .btn
      border 1px solid
      padding 8px 16px
      &.btn-primary
        background-color #0081CF
        color #fff
      &[disabled]
        background-color rgba(0,129,207, .6)
        pointer-events none
      &.btn-sm
        font-size 0.65em
      &.btn-lg
        font-size 2rem
