$navbar-background = var(--main-bg-color)
$black = var(--black)
$gray-1 = var(--gray-1)
$gray-2 = var(--gray-2)
$gray-3 = var(--gray-3)
$gray-4 = var(--gray-4)
$white = var(--white)
$blue = var(--blue)
$blue-hover = var(--blue-hover)

:root
  --main-bg-color #333
  --black #000
  --gray-1 rgba(0, 0, 0, 0.4)
  --gray-2 #676767
  --gray-3 #F0F0F0
  --gray-4 #566464
  --white #fff
  --blue #2c73d2
  --blue-hover lighten(#2c73d2, 10%)

// MARGINS
$margin-standard = 15px
$standard-spacing = 15px
