section(data-section-typografy)
  h2#typography Typography
  
  .row
    .col
      h3 Open Sans
      .content-wrapper
        p.font-monserrat ABCDEFGHIJKLMNOPQRSTUVWXYZ
        p.font-monserrat abcdefghijklmnopqrstuvwxyz
        p.font-monserrat 1234567890(,.;:?!$&*)
  
  .row
    .col
      h3 Monserrat
      .content-wrapper
        p.font-open-sans ABCDEFGHIJKLMNOPQRSTUVWXYZ
        p.font-open-sans abcdefghijklmnopqrstuvwxyz
        p.font-open-sans 1234567890(,.;:?!$&*)

  .row
    .col
      .content-wrapper
        p.size-12 We are designers...
        p.size-14 We are designers...
        p.size-16 We are designers...
        p.size-18 We are designers...
        p.size-20 We are designers...
        p.size-24 We are designers...
        p.size-30 We are designers...
        p.size-36 We are designers...
        p.size-48 We are designers...
        p.size-60 We are designers...
        p.size-72 We are designers...
      
