//- https://www.orbitmedia.com/blog/website-footer-design-best-practices/
footer
  .container
    p Hello World
  section.col.col-grow-12(data-section-name="legal-info" aria-label="Accessibility placeholder")
    ul
      li OurCompany - 2019
      li About Us
      li Services
      li Privacy
