doctype html
head
  meta(charset="utf-8")
  link(rel="stylesheet" href="css/mini-default.min.css")
  link(rel="stylesheet" href="css/style.css")
  title probando
body
  article
    h1.a11y Landing page
    section(data-section-text)
      .h1 Text
      hr
      .h1 Header 1
      .h2 Header 2
      .h3 Header 3
      .h4 Header 4
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      span description
      span texthelper
    section(data-section-icons)
      i.fal.fa-heart
      i.fas.fa-heart
      i.fal.fa-shopping-bag
      i.fas.fa-check
      i.fal.fa-check
      i.fas.fa-check-circle
      i.fas.fa-circle
      i.fal.fa-user
      i.fal.fa-search
      i.fal.fa-times
      i.fal.fa-trash
      i.fal.fa-angle-up
      i.fal.fa-angle-right
      i.fal.fa-angle-left
      i.fal.fa-angle-down
      i.fal.fa-tag
      i.fal.fa-credit-card
      i.fab.fa-bitcoin
      i.fab.fa-amex
      i.fab.fa-cc-apple-pay
      i.fab.fa-cc-diners-club
      i.fab.fa-paypal
      i.fab.fa-cc-visa
      i.fab.fa-cc-paypal
      i.fab.fa-cc-mastercard
      i.fab.fa-cc-mastercard
      |  REGALO
      i.fab.fa-cc-mastercard
      |  MAPA O POSICION
      i.fab.fa-cc-mastercard
      |  CAMION O SPEDIZIONE
      i.fab.fa-cc-mastercard
      |  MAS
      i.fab.fa-cc-mastercard
      |  MENOS
    section(data-section-form)
      input(type="text" name="" value="")
      input(type="number" name="" value="")
      input(type="check" name="" value="")
      input(type="radio" name="" value="")
    section(data-section-button="")
      button.btn.btn-transparent Press me
      button.btn.btn-dark Press me
      button.btn.btn-primary Press me
      button.btn.btn-primary(disabled) Press me
      button.btn.btn-transparent.full-width Press me
      button.btn.btn-dark.full-width Press me
    section(data-section-promo="")
      | navbarTop con el mensaje de la promo
    section(data-other="")
      hr
      div Breadbrumb
      .mapa-container
      address
    section(data-section-grid-layout="")
    section(data-section-image="")
    section(data-section-zoom="")
    section(data-section-slider="")
    section(data-section-header="")
    section(data-section-footer="")
